#i1{
  overflow: hidden;
  z-index: 9;
  height: 160px;
  position: absolute;
  top: 66px;
  left: 36px;
}
#i2{
  overflow: hidden;
  z-index: 8;
  height: 163px;
  position: absolute;
  top: 173px;
  left: 36px;
}
#i3{
  overflow: hidden;
  z-index: 7;
  height: 190px;
  position: absolute;
  top: 256px;
  left: 36px;
}
#i4{
  overflow: hidden;
  z-index: 6;
  height: 400px;
  position: absolute;
  top: 390px;
  left: 36px;
}
#b{
  overflow: hidden;
  z-index: 7;
  height: 120px;
  top: 550px;
  position: absolute;
}

.bottle{
  z-index: 10;
  position: relative;
  text-align: center;
  padding-bottom: 100%;
}
