.parent{
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*   Sliding Options   */
#options{
  width: 60%;
  display: none;
}
#options img {
  height: 50%;
  width: 100%;
}

.top {
  display: block;
  margin: 0;
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #99ffff;
}

.bottom {
  display: block;
  margin: 0;
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffdf80;
}


/*   Alcohol   */
.opt {
  font-size: 20px;
  padding: 20px;
  padding-right: 50px;
  background-color: red;
  height: 42px;
}

#alc-range, .btn {
  display: none;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}

#slider-value {
  display: none;
  top: 40.5%;
  left: 52%;
  color: white;
}


/*    Control buttons and hidden inputs    */
.control {
  text-align: center;
  position: absolute;
  left: inherit;
  top: 47%;
}

.control button {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}


/*    Bottle and error mess     */
#bottle {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  text-align: center;
}

.bottle{
  z-index: 3;
  position: relative;
  text-align: center;
  width: 400px;
  height: 870px;
  display: inline-block;
}

#b{
  overflow: hidden;
  z-index: 7;
  height: 120px;
  top: 550px;
  position: absolute;
  display: inline-block;
}

span {
  color: red;
  top: 51%;
  position: fixed;
}

.car {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 200px;
  position: absolute;
  margin: 1em;
  overflow: hidden;
  top: 10%;
  left: 40.3%;
  padding: 0 50px;
}
.content {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.active {
  height: 200px;
}
.active li {
  position: absolute;
  top: 200px;
}
.active li.current {
  top: 30px;
}

.active button {
  padding: 5px 8px;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: relative;
  font-size: 25px;
}
.car button {
  border: none;
  display: none;
  position: absolute;
  top: 50%;
}
.active button {
  display: inline;
}
.offscreen {
  position: absolute;
  left: -2000px;
}

.car img {
  width: 200px;
  height: 200px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}