@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

.parent{
  font-family: 'Oxygen', sans-serif;
  display: block;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*   Alcohol   */
.opt {
  font-size: 20px;
  padding: 20px;
  padding-right: 50px;
  height: 42px;
  display: none;
}

#alc-range, .btn {
  display: none;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}

#slider-value {
  display: none;
  top: 40.5%;
  left: 52%;
  color: white;
}


/*    Control buttons and hidden inputs    */
.control {
  text-align: center;
  position: absolute;
  left: inherit;
  top: 47%;
}

.control button {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}


/*    Bottle and error mess     */
#bottle {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  text-align: center;
}

.bottle{
  z-index: 3;
  position: relative;
  text-align: center;
  width: 400px;
  height: 870px;
  display: inline-block;
}

#b{
  overflow: hidden;
  z-index: 7;
  height: 120px;
  top: 550px;
  position: absolute;
  display: inline-block;
}

span {
  color: red;
  top: 51%;
  position: fixed;
}

.car {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  width: 390px;
  position: absolute;
  margin: 1em;
  overflow: hidden;
  top: 8.7%;
  left: 34.79%;
  padding: 0 50px;
}

.active {
  height: 206;
}
.content {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;
}
.content li {
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}


.active li {
  position: absolute;
  top: 200px;
}
.active li.current {
  top: 30px;
}

.active button {
  padding: 5px 8px;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: relative;
  font-size: 25px;
}
.car button {
  border: none;
  display: none;
  position: absolute;
  top: 50%;
  text-align: center;
}
.active button {
  display: inline;
}
.offscreen {
  position: absolute;
  left: -2000px;
}

.car img {
  width: 200px;
  height: 200px;
}

.prev {
  right: 380px;
}

.next {
  left: 380px;
}

#submit {
  position: relative;
  top: 20px;
}